name: pick_choix
description: A new Flutter project.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

  
  crypto: ^3.0.3
  url_launcher: ^6.2.5
  http: ^1.1.0

 
  web3dart: ^2.6.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - web/assets/models/coffee_model.json
    - web/assets/models/coffee_model.weights.bin
    - assets/menus/
    - assets/contracts/
